body {
    background-color: black !important;
}


html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #3c3c66;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}